<configuration>
  <package name="lucas" displayName="Land Use and Carbon Scenario Simulator (LUCAS)" version="1.0.0" configVersion="2.0000" url="https://github.com/bsleeter/lucas">
    <transformers>
      <transformer name="lucas" displayName="Land Use and Carbon Scenario Simulator (LUCAS)" isPrimary="True" templatesOnly="True">
        <runtime>
          <transformer name="stsim"/>
        </runtime>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:result-transformers">
        <item name="stime:charts"/>
        <item name="stime:maps"/>
        <group name="Export">
          <group name="Reports">
            <item name="stsim:state-class-summary-report"/>
            <item name="stsim:transition-summary-report"/>
            <item name="stsim:transition-state-summary-report"/>
            <item name="stsim:state-attribute-report"/>
            <item name="stsim:transition-attribute-report"/>
            <item name="system-forms:scenario-description-report"/>
          </group>
          <group name="Maps">
            <item name="stsim:state-class-raster-map"/>
            <item name="stsim:transition-raster-map"/>
            <item name="stsim:age-raster-map"/>
            <item name="stsim:tst-raster-map"/>
            <item name="stsim:stratum-raster-map"/>
            <item name="stsim:state-attribute-raster-map"/>
            <item name="stsim:transition-attribute-raster-map"/>
            <item name="stsim:aatp-raster-map"/>
            <item name="stsim:transition-event-raster-map"/>
          </group>
        </group>
      </layout>
      <layout name="system-forms:library-datafeeds">
        <item name="system:sysfolder-datafeed"/>
        <item name="system:backup-datafeed"/>
        <item name="system:multiprocessing-datafeed"/>
        <item name="stime:option-datafeed"/>
        <group name="Options">
          <item name="system:option-datafeed" displayName="General"/>
          <item name="system:rconfig-datafeed" displayName="R Configuration"/>
        </group>
      </layout>
      <layout name="system-forms:project-datafeeds">
        <group name="Strata">
          <item name="stsim:stratum-datafeed"/>
          <item name="stsim:secondary-stratum-datafeed"/>
          <item name="stsim:tertiary-stratum-datafeed"/>
        </group>
        <group name="States">
          <item name="stsim:state-label-x-datafeed"/>
          <item name="stsim:state-label-y-datafeed"/>
          <item name="stsim:state-class-datafeed"/>
        </group>
        <group name="Transitions">
          <item name="stsim:transition-type-datafeed"/>
          <item name="stsim:transition-group-datafeed"/>
          <item name="stsim:transition-type-group-datafeed"/>
          <group name="Advanced">
            <item name="stsim:transition-simulation-group-datafeed"/>
            <item name="stsim:transition-multiplier-type-datafeed"/>
          </group>
        </group>
        <group name="Ages">
          <item name="stsim:age-type-datafeed"/>
          <item name="stsim:age-group-datafeed"/>
        </group>
        <group name="Advanced">
          <group name="Attributes">
            <item name="stsim:attribute-group-datafeed"/>
            <item name="stsim:state-attribute-type-datafeed"/>
            <item name="stsim:transition-attribute-type-datafeed"/>
          </group>
          <item name="stime:distribution-type-datafeed"/>
          <item name="stime:external-variable-type-datafeed"/>
          <item name="stsim:size-class-datafeed"/>
        </group>
        <item name="stsim:terminology-datafeed"/>
      </layout>
      <layout name="system-forms:scenario-datafeeds">
        <item name="stsim:run-control-datafeed"/>
        <item name="stsim:transition-datafeed" displayName="Transition Pathways"/>
        <group name="Initial Conditions">
          <item name="stsim:initial-conditions-non-spatial-datafeed" displayName="Non Spatial"/>
          <item name="stsim:initial-conditions-spatial-datafeed" displayName="Spatial"/>
        </group>
        <item name="stsim:transition-target-datafeed"/>
        <item name="stsim:output-options-datafeed"/>
        <group name="Advanced">
          <item name="stsim:transition-multiplier-value-datafeed" displayName="Transitions - Multipliers"/>
          <group name="Transitions - Spatial">
            <group name="Transition Size">
              <item name="stsim:transition-size-distribution-datafeed"/>
              <item name="stsim:transition-size-prioritization-datafeed"/>
            </group>
            <item name="stsim:transition-spread-distribution-datafeed"/>
            <item name="stsim:transition-patch-prioritization-datafeed"/>
            <item name="stsim:transition-spatial-multiplier-datafeed"/>
            <item name="stsim:transition-spatial-initiation-multiplier-datafeed"/>
            <item name="stsim:transition-direction-multiplier-datafeed"/>
            <item name="stsim:transition-slope-multiplier-datafeed"/>
            <item name="stsim:transition-adjacency-multiplier-datafeed"/>
            <item name="stsim:transition-pathway-auto-correlation-datafeed"/>
          </group>
          <item name="stsim:transition-order-datafeed" displayName="Transitions - Order"/>
          <item name="stsim:transition-target-prioritization-datafeed" displayName="Transitions - Target Prioritization"/>
          <group name="Time Since Transition">
            <item name="stsim:time-since-transition-group-datafeed"/>
            <item name="stsim:time-since-transition-randomize-datafeed"/>
          </group>
          <group name="Attributes">
            <item name="stsim:state-attribute-value-datafeed"/>
            <item name="stsim:transition-attribute-value-datafeed"/>
            <item name="stsim:transition-attribute-target-datafeed"/>
            <item name="stsim:transition-attribute-target-prioritization-datafeed" displayName="Attribute Target Prioritization"/>
          </group>
          <item name="stsim:distribution-value-datafeed"/>
          <item name="stime:external-variable-value-datafeed"/>
          <item name="stsim:processing-datafeed"/>
          <item name="stime:multiprocessing-datafeed"/>
          <item name="stime:external-datafeed" displayName="External Program"/>
        </group>
      </layout>
      <layout name="system-forms:scenario-datafeeds-lite">
        <item name="stsim:run-control-datafeed"/>
        <item name="stsim:transition-target-datafeed"/>
      </layout>
      <layout name="stime:charts"
        configurationSheet="STSim_RunControl"
        className="SyncroSim.STSim.STSimChartProvider"
        classAssembly="SyncroSim.STSim">
      </layout>
      <layout name="stime:maps"
        configurationSheet="STSim_RunControl"
        className="SyncroSim.STSim.STSimMapProvider"
        classAssembly="SyncroSim.STSim">
      </layout>
    </layouts>
  </package>
</configuration>
